*.exe
*.cache
*.pdb
*.Iref
*.Cache
*.suo
.vs/MedicaLibary/v14/.suo
MedicaLibary/bin/Debug/MedicaLibary.exe
MedicaLibary/bin/Debug/MedicaLibary.pdb
MedicaLibary/obj/Debug/MedicaLibary.exe
MedicaLibary/obj/Debug/MedicaLibary.g.resources
MedicaLibary/obj/Debug/MedicaLibary.pdb
MedicaLibary/obj/Debug/MedicaLibary_MarkupCompile.cache
MedicaLibary/obj/Debug/MedicaLibary_MarkupCompile.i.cache
MedicaLibary/obj/Debug/SeekAndDelete.baml
MedicaLibary/obj/Debug/SeekAndDelete.g.cs
*.cache
*.exe
*.pdb
*.resources
*.baml
